/* Main Container */
.container-scroller {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccfd1; /* Background color for the full screen */
}

.container-fluid.page-body-wrapper.full-page-wrapper {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    border-radius: 10px;
    text-align: center; 
}

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Error Message Styling */
.error-page h1 {
    font-size: 10rem;
    margin-bottom: 0;
    font-weight: 700;
}

.error-page h2 {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
}

.error-page h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 20px 0 0;
}

/* Link Styling */
a.text-white.font-weight-medium {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
}

a.text-white.font-weight-medium:hover {
    text-decoration: underline;
}

/* Copyright Text */
.text-white.font-weight-medium.text-center {
    margin-top: 30px;
    font-size: 1rem;
}

/* Responsiveness */
@media (max-width: 768px) {
    .error-page h1 {
        font-size: 7rem;
    }

    .error-page h2 {
        font-size: 2.5rem;
    }

    .error-page h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .error-page h1 {
        font-size: 5rem;
    }

    .error-page h2 {
        font-size: 2rem;
    }

    .error-page h3 {
        font-size: 1rem;
    }
}
