@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span{
            display: inline-block;
            background-color: #7b1421;
            width: 40px;
            height: 40px;
            color: white;
            border-radius: 100px;
            font-size: 20px;
            display: grid;
            place-items: center;
        }
    }

    h2{
        font-size: 22px;
    }

    p{
        font-size: 16px;
        line-height: 25px;
    }

    ul,ol{
        font-size: 16px;
        margin: 0;
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    ul{
        list-style: disc;
    }
    ol{
        li{
            &::marker{
                font-size: 20px;
                font-weight: 600;
            }
        }
        /* &>li{
            font-size: 20px;
            font-weight: 600;
        } */
    }

    .privacy-policy-container{
        width: 90%;
        display: flex;
        flex-direction: column;


        /* Please remove this if dont want to
         limit the length of the main container */

        @media(min-width:1400px){
            width: 1200px;
        }

        .arabic-lang{
            font-family: "IBM Plex Sans Arabic";
        }
        .english-lang{
            font-family: 'IBMPlexSansArabic', 'SF Pro Display', sans-serif;

            .item-sub-content{
                .item-sub-title{
                    display: flex;
                    flex-direction: row !important;
                    align-items: center;
                    justify-content: start;
                    gap: 20px;

                    img{
                        transform: scaleX(-1);
                    }
                }
            }
        }

        .arabic-lang,.english-lang{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 100px 0;
            gap: 50px;

            .item{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;

                .item-content{
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    padding: 24px;
                    border-radius: 12px;
                    background-color: #ffd6d6;

                    .item-sub-content{
                        width: 100%;
                        .item-sub-title{
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            justify-content: start;
                            gap: 20px;
                        }
                    }
                }
            }
        }
    }
}