<!DOCTYPE html>
{%load static%}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about-us.css">
    <link rel="stylesheet" href="{%static 'css/about-us.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontstyle.css' %}">
    <title>About Us</title>
</head>

<body>
    <main>
        <div class="about-us-container">
            <section class="arabic-lang" dir="rtl">
                <h1>معلومات عنا</h1>
                <div class="item">
                    <h1>معلومات عنا</h1>
                    <div class="item-content">
                        <p>
                            تطبيق 1929WAY plus هو منصة عمانية مبتكرة تهدف إلى دعم وتسهيل السياحة الداخلية في سلطنة عمان من خلال ربط المستخدمين بمزودي الخدمات السياحية، مثل الفنادق، الشاليهات، المزارع الخاصة، والبيوت التراثية. يسعى التطبيق لتقديم تجربة حجز سلسة وسريعة، مع ضمان توفير خيارات متنوعة تناسب جميع الفئات، مما يسهم في تعزيز النمو السياحي الداخلي ودعم الاقتصاد الوطني.
                        </p>
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <h2>الخدمات المقدمة:</h2>
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                            </div>
                            <ul>
                                <li>
                                    حجز الإقامات السياحية بكل سهولة، بما يشمل الخيارات المتميزة مثل الشاليهات والمزارع الخاصة.
                                </li>
                                <li>
                                    تقديم معلومات تفصيلية حول المواقع السياحية والخدمات المتاحة.
                                </li>
                                <li>
                                    دعم السياحة العائلية والفردية، مع التركيز على توفير تجربة مريحة وآمنة.
                                </li>
                            </ul>
                        </div>

                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <h2>الفئات المستهدفة:</h2>
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                            </div>
                            <ul>
                                <li>
                                    الأفراد والعائلات الباحثين عن وجهات سياحية داخل سلطنة عمان.
                                </li>
                                <li>
                                    محبي الاستكشاف والسياحة التراثية والطبيعية.
                                </li>
                                <li>
                                    السياح المحليين والدوليين الراغبين في استكشاف جمال عمان.                     
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <h1>تعريف اسم التطبيق “1929WAY plus”:</h1>
                    <div class="item-content">
                        <p>
                            تم اختيار اسم 1929WAY plus ليعكس رمزية عميقة تجمع بين الهوية العمانية والحداثة. الرقم 1929 يحمل إشارة إلى العام الذي شهد افتتاح أول مطار في سلطنة عمان، وهو رمز للتطور والانفتاح وتسهيل النقل والسفر. كما أن كلمة “WAY” ترمز إلى الطرق والسبل التي تربط بين الوجهات السياحية المختلفة، مما يجعل التطبيق منصة متكاملة توجه المستخدم نحو اكتشاف أجمل الأماكن وتجربة أرقى الخدمات.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <h1>الاتصال بنا</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <h2>نحن هنا لمساعدتك ! تواصل معنا لأي دعم أو استفسارات</h2>
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                            </div>
                            <ul>
                                <li>
                                    البريد الإلكتروني: support@1929way.app
                                </li>
                                <li>
                                    رقم الهاتف: 0096879291929
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="english-lang">
                <h1>About us</h1>
                <div class="item">
                    <h1>Definition of the 1929WAY plus App and Its services:</h1>
                    <div class="item-content">
                        <p>
                            The 1929WAY plus app is an innovative Omani platform designed to support and facilitate domestic tourism in the Sultanate of Oman. By connecting users with tourism service providers, including hotels, chalets, private farms, and heritage homes, the app aims to deliver a seamless and efficient booking experience. It offers a diverse range of options that cater to all preferences, contributing to the growth of domestic tourism and supporting the national economy.                        </p>
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                                <h2>Services Offered:</h2>
                            </div>
                            <ul>
                                <li>
                                    Effortless booking for various accommodations, including premium options like chalets and private farms.
                                </li>
                                <li>
                                    Detailed information on tourist sites and available services.
                                </li>
                                <li>
                                    Support for family and individual tourism with a focus on providing a comfortable and secure experience.
                                </li>
                            </ul>
                        </div>

                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                                <h2>Target Audience:</h2>
                            </div>
                            <ul>
                                <li>
                                    Individuals and families seeking tourist destinations within Oman.
                                </li>
                                <li>
                                    Enthusiasts of cultural, heritage, and nature-based tourism.
                                </li>
                                <li>
                                    Local and international tourists interested in exploring Oman’s beauty.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <h1>
                        Meaning Behind the Name “1929WAY plus”:
                    </h1>
                    <div class="item-content">
                        <p>
                            The name 1929WAY plus reflects a deep symbolism that bridges Omani heritage with modernity. The number 1929 signifies the year when the first airport in Oman was inaugurated, representing a milestone in the country’s development, openness, and facilitation of transport and travel. The word “WAY” symbolizes the roads and paths that connect various tourist destinations, making the app a comprehensive guide for users to discover stunning locations and experience top-notch services.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <h1>Contact Us</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                                <h2>We're here to help! Get in touch with us for any support or questions</h2>
                            </div>
                            <ul>
                                <li>
                                    Email: support@1929way.app
                                </li>
                                <li>
                                    Phone: 0096879291929
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>