<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/privacy-policy.css'%}">
    <title>Privacy Policy</title>
</head>

<body>
    <main>
        <div class="privacy-policy-container">
            <section class="arabic-lang" dir="rtl">
                <h1>سياسة الخصوصية لتطبيق 1929WAY plus</h1>

                <div class="item">
                    <h1>مقدمة</h1>
                    <div class="item-content">
                        <p>
                            تطبيق 1929WAY Plus يضع في مقدمة أولوياته حماية بياناتك الشخصية وضمان التعامل معها وفقًا لأعلى
                            معايير الأمان والخصوصية. تهدف هذه السياسة إلى توضيح طبيعة البيانات التي يتم جمعها وآلية
                            التعامل معها بما يحقق الشفافية والامتثال للأنظمة والقوانين المعمول بها. يُرجى قراءة هذه
                            السياسة بعناية لفهم كيفية حماية بياناتك.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <h1><span>١</span> لتعريفات!</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <h2>إلا إذا اقتضى السياق غير ذلك، تكون المصطلحات التالية في هذه السياسة بالمعاني المشار إليها:</h2>
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                            </div>
                            <ul>
                                <li>
                                   المنصة أو التطبيق: تشير إلى تطبيق   1929WAY plus.
                                </li>
                                <li>
                                    الشركة:  تعني الباز للتجارة الالكترونية ش.م.م، مالكة تطبيق 1929WAY plus.
                                </li>
                                <li>
                                    المستخدم أو العميل: تعني أي شخص طبيعي أو معنوي يستخدم التطبيق لحجز الفنادق، الشاليهات، المزارع أو البيوت التراثية.
                                </li>
                                <li>
                                    مزود الخدمة: تعني أي شخص طبيعي أو معنوي (مالك فندق، شاليه، مزرعة أو بيت تراثي) يقدّم خدماته عبر التطبيق.
                                </li>
                                <li>
                                    البيانات الشخصية: تعني كافة المعلومات التي يقدمها المستخدم أو مزود الخدمة للتطبيق، مثل الاسم، الموقع الجغرافي، البريد الإلكتروني، رقم الهاتف، وغيرها.
                                </li>
                                <li>
                                    السياسة: تشير إلى هذه الوثيقة وما تتضمنه من بنود وشروط
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>٢</span>البيانات التي يتم جمعها</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <h2>تطبيق 1929WAY plus قد يقوم بجمع أنواع مختلفة من البيانات بناءً على التفاعل مع المستخدمين ومزودي الخدمة، وتشمل:</h2>
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                            </div>
                            <ol>
                                <li>بيانات التسجيل:</li>
                                <ul>
                                    <li>
                                        الاسم الكامل.
                                    </li>
                                    <li>
                                        الإلكتروني.
                                    </li>
                                    <li>
                                        رقم الهاتف.
                                    </li>
                                    <li>
                                        الموقع الجغرافي.
                                    </li>
                                </ul>
                                <li>بيانات الاستخدام:</li>
                                <ul>
                                    <li>
                                        تفاصيل الدفع.
                                    </li>
                                    <li>
                                        تفاصيل الدفع.
                                    </li>
                                    <li>
                                        سجل الأنشطة داخل التطبيق.
                                    </li>
                                </ul>
                                <li>
                                    البيانات التقنية:
                                </li>
                                <ul>
                                    <li>
                                        نوع الجهاز المستخدم ونظام التشغيل.
                                    </li>
                                    <li>
                                        عنوان IP.
                                    </li>
                                    <li>
                                        ملفات تعريف الارتباط لتحسين تجربة المستخدم.
                                    </li>
                                </ul>
                                <li>
                                    بيانات الموقع الجغرافي:
                                </li>
                                <ul>
                                    <li>
                                        تُستخدم لتحديد أماكن الإقامة القريبة أو تحسين خدمات التوصيل (إن وُجدت).
                                    </li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>٣</span>استخدام البيانات الشخصية</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <h2>تُستخدم البيانات الشخصية للأغراض التالية:</h2>
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                            </div>
                            <ol>
                                <li>	تقديم الخدمات:</li>
                                <ul>
                                    <li>
                                        تمكين المستخدم من حجز الخدمات السياحية.
                                    </li>
                                    <li>
                                        ربط المستخدم بمزودي الخدمة المعنيين.
                                    </li>
                                    <li>
                                        معالجة طلبات الدفع وإتمام الحجوزات.
                                    </li>
                                </ul>
                                <li>	التواصل مع المستخدمين:</li>
                                <ul>
                                    <li>
                                        إرسال الإشعارات المتعلقة بالحجوزات أو التحديثات.
                                    </li>
                                    <li>
                                        التعامل مع الشكاوى والاستفسارات.
                                    </li>
                                </ul>
                                <li>
                                    تحسين التطبيق:
                                </li>
                                <ul>
                                    <li>
                                        تحليل بيانات الاستخدام لتحسين الخدمات.
                                    </li>
                                    <li>
                                        توفير تجربة مخصصة لكل مستخدم.
                                    </li>
                                </ul>
                                <li>
                                    الامتثال القانوني:
                                </li>
                                <ul>
                                    <li>
                                        الامتثال للأنظمة والقوانين المعمول بها في سلطنة عمان.
                                    </li>
                                    <li>
                                        الإفصاح عن البيانات في حال صدور أمر قضائي أو طلب من الجهات المختصة.
                                    </li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>٤</span> ملفات تعريف الارتباط</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>استخدام ملفات تعريف الارتباط:</li>
                                <ul>
                                    <li>
                                        يُستخدم التطبيق ملفات تعريف الارتباط لتحسين تجربة المستخدم من خلال تذكر تفضيلاته وتحليل سلوكه أثناء استخدام التطبيق.
                                    </li>
                                    <li>
                                        تساعد ملفات تعريف الارتباط في تحسين الأداء العام للتطبيق وتوفير خدمات مخصصة.
                                    </li>
                                </ul>
                                <li>إدارة ملفات تعريف الارتباط:</li>
                                <ul>
                                    <li>
                                        يمكن للمستخدم التحكم في إعدادات ملفات تعريف الارتباط أو إيقافها من خلال إعدادات الجهاز المستخدم.
                                    </li>
                                    <li>
                                        يرجى ملاحظة أن تعطيل ملفات تعريف الارتباط قد يؤثر على بعض وظائف التطبيق.</li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>٥</span>معايير الأمان</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>يلتزم تطبيق 1929WAY plus بتطبيق أفضل معايير الأمان المعتمدة دوليًا لحماية بيانات المستخدمين من أي اختراقات أو تسريب غير مصرح به.</li>
                                <li>يعتمد التطبيق على تقنيات التشفير الحديثة لضمان سرية البيانات الحساسة، مثل بيانات الدفع والمعلومات الشخصية.</li>
                                <li>
                                    التطبيق يعمل وفق سياسات أمان معتمدة لأنظمة Android وiOS لضمان التوافق والأمان على الأجهزة المختلفة.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>٦</span>التعامل مع الحوادث الأمنية</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>
                                    في حالة حدوث أي اختراق أو حادث أمني يؤثر على بيانات المستخدمين، ستتخذ الشركة الخطوات التالية: 
                                </li>
                                <ul>
                                    <li>
                                        إخطار المستخدمين المتضررين فور اكتشاف الحادث.
                                    </li>
                                    <li>
                                        تحديد نطاق الحادث وتأثيره، والعمل على احتوائه بشكل فوري.
                                    </li>
                                    <li>
                                        اتخاذ الإجراءات التصحيحية لمنع تكرار الحادث.
                                    </li>
                                </ul>
                                <li>الشركة تحتفظ بسجل للحوادث الأمنية وتعمل باستمرار على مراجعة وتحسين أنظمتها الأمنية.</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>٧</span>حماية الملكية الفكرية</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>
                                    جميع المحتويات المتوفرة على تطبيق 1929WAY plus بما في ذلك الشعارات، التصاميم، النصوص، والبرمجيات، هي ملكية حصرية للشركة.
                                </li>
                                <li>
                                    يُمنع استخدام أو نسخ أي جزء من المحتوى دون إذن كتابي مسبق من الشركة.
                                </li>
                                <li>
                                    المستخدمون ومزودو الخدمة ملزمون بعدم انتهاك حقوق الملكية الفكرية المرتبطة بالتطبيق أو استخدامه لأي غرض غير مصرح به.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>٨</span>حقوق المستخدمين</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <h2>يحق للمستخدمين:</h2>
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                            </div>
                            <ol>
                                <li>
                                    طلب الاطلاع على البيانات الشخصية المخزنة عنهم.
                                </li>
                                <li>
                                    تصحيح أي أخطاء في البيانات المقدمة.
                                </li>
                                <li>
                                    طلب حذف البيانات، بشرط ألا يتعارض ذلك مع القوانين أو الالتزامات التعاقدية.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>٩</span>التعديلات على السياسة</h1>
                    <div class="item-content">
                        <p>
                            تحتفظ الشركة بحق تعديل سياسة الخصوصية في أي وقت. سيتم تحديث تاريخ “آخر تعديل” في أعلى هذه الوثيقة لإعلام المستخدمين. يُعتبر استمرار استخدام التطبيق بعد تعديل السياسة موافقة صريحة على التعديلات.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <h1><span>١٠</span> المسؤولية</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>
                                    الشركة ليست مسؤولة عن أي خرق للبيانات ناتج عن هجمات إلكترونية أو حوادث خارجة عن السيطرة رغم اتخاذ جميع التدابير الأمنية اللازمة.
                                </li>
                                <li>
                                    استخدام التطبيق يتم على مسؤولية المستخدم الشخصية، والشركة غير مسؤولة عن أي أضرار تنشأ عن سوء الاستخدام.                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>١١</span>الاتصال بنا</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <h2>لأي استفسارات أو طلبات متعلقة بسياسة الخصوصية، يُرجى التواصل معنا عبر:</h2>
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                            </div>
                            <ul>
                                <li>
                                    البريد الإلكتروني: support@1929way.app
                                </li>
                                <li>
                                    رقم الهاتف: 0096879291929
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="english-lang">
                <h1>Privacy Policy for 1929WAY plus</h1>
                <div class="item">
                    <h1>Introduction</h1>
                    <div class="item-content">
                        <p>
                            The 1929WAY plus app places the utmost importance on protecting your personal data and ensuring it is handled according to the highest security and privacy standards. This policy aims to clarify the nature of the data collected and how it is handled to achieve transparency and compliance with applicable laws and regulations. Please read this policy carefully to understand how your data is protected.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <h1><span>1</span>Definitions</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                                <h2>
                                    Unless otherwise required by the context, the following terms in this policy shall have the meanings set forth below:
                                </h2>
                            </div>
                            <ul>
                                <li>
                                    <span style="font-weight: 600;">Platform or App:</span>
                                     Refers to the 1929WAY Plus app.
                                </li>
                                <li>
                                    <span style="font-weight: 600;">Company:</span>
                                     Refers to Al Madina Logistics Technology LLC, the owner of the 1929WAY plus app.
                                </li>
                                <li>
                                    <span style="font-weight: 600;">User or Client:</span>
                                    Refers to any natural or legal person using the app to book hotels, chalets, farms, or heritage homes.
                                </li>
                                <li>
                                    <span style="font-weight: 600;">Service Provider:</span>
                                    Refers to any natural or legal person (hotel, chalet, farm, or heritage home owner) offering their services through the app.
                                </li>
                                <li>
                                    <span style="font-weight: 600;">Personal Data:</span>
                                     Refers to all information provided by the user or service provider to the app, such as name, geographic location, email address, phone number, etc.
                                </li>
                                <li>
                                    <span style="font-weight: 600;">Policy: </span>
                                    Refers to this document and the terms and conditions it contains.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>2</span>Data Collected</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                                <h2>The 1929WAY plus app may collect various types of data based on user and service provider interactions, including:</h2>
                            </div>
                            <ol>
                                <li>Registration Data:</li>
                                <ul>
                                    <li>
                                        Full name.
                                    </li>
                                    <li>
                                        Email address.
                                    </li>
                                    <li>
                                        Phone number.
                                    </li>
                                    <li>
                                        Geographic location.
                                    </li>
                                </ul>
                                <li>
                                    Usage Data:
                                </li>
                                <ul>
                                    <li>
                                        Booking requests.
                                    </li>
                                    <li>
                                        Payment details.
                                    </li>
                                    <li>
                                        Activity logs within the app.
                                    </li>
                                </ul>
                                <li>
                                    Technical Data:
                                </li>
                                <ul>
                                    <li>
                                        Type of device and operating system.
                                    </li>
                                    <li>
                                        IP address.
                                    </li>
                                    <li>
                                        Cookies to enhance user experience.
                                    </li>
                                </ul>
                                <li>
                                    Geographic Location Data:
                                </li>
                                <ul>
                                    <li>
                                        Used to identify nearby accommodations or enhance delivery services (if applicable).
                                    </li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>3</span>Use of Personal Data</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                                <h2>Personal data is used for the following purposes:</h2>
                            </div>
                            <ol>
                                <li>Providing Services:</li>
                                <ul>
                                    <li>
                                        Enabling users to book tourism-related services.
                                    </li>
                                    <li>
                                        Connecting users with relevant service providers.
                                    </li>
                                    <li>
                                        Processing payment requests and completing bookings.
                                    </li>
                                </ul>
                                <li>Communicating with Users:</li>
                                <ul>
                                    <li>
                                        Sending notifications about bookings or updates.
                                    </li>
                                    <li>
                                        Handling complaints and inquiries.
                                    </li>
                                </ul>
                                <li>
                                    Improving the App:
                                </li>
                                <ul>
                                    <li>
                                        Analyzing usage data to enhance services.
                                    </li>
                                    <li>
                                        Providing a personalized experience for each user
                                    </li>
                                </ul>
                                <li>
                                    Legal Compliance:
                                </li>
                                <ul>
                                    <li>
                                        Complying with the laws and regulations in the Sultanate of Oman.
                                    </li>
                                    <li>
                                        Disclosing data in the event of a court order or request from competent authorities.
                                    </li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>4</span>Cookies</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>Use of Cookies:</li>
                                <ul>
                                    <li>
                                        The app uses cookies to enhance the user experience by remembering preferences and analyzing behavior while using the app
                                    </li>
                                    <li>
                                        Cookies help improve the app’s overall performance and provide customized services.
                                    </li>
                                </ul>
                                <li>Managing Cookies:</li>
                                <ul>
                                    <li>
                                        Users can control or disable cookies through their device settings.
                                    </li>
                                    <li>
                                        Please note that disabling cookies may affect certain functionalities of the app.
                                    </li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>5</span>Security Standards</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>
                                    The 1929WAY plus app is committed to implementing the best internationally recognized security standards to protect user data from unauthorized access or breaches.
                                </li>
                                <li>
                                    The app utilizes modern encryption technologies to ensure the confidentiality of sensitive data, such as payment information and personal details.
                                </li>
                                <li>
                                    The app operates according to approved security policies for Android and iOS systems to ensure compatibility and security across different devices.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>6</span>Handling Security Incidents</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>
                                    In the event of a security breach or incident affecting user data, the company will take the following steps:
                                </li>
                                <ul>
                                    <li>
                                        Notify affected users immediately upon discovering the incident.
                                    </li>
                                    <li>
                                        Identify the scope and impact of the incident and work to contain it promptly.
                                    </li>
                                    <li>
                                        Implement corrective measures to prevent recurrence.
                                    </li>
                                </ul>
                                <li>
                                    The company maintains a record of security incidents and continually reviews and improves its security systems.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>7</span>Intellectual Property Protection</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>
                                    All content available on the 1929WAY plus app, including logos, designs, text, and software, is the exclusive property of the company.
                                </li>
                                <li>
                                    It is prohibited to use or copy any part of the content without prior written consent from the company.                                </li>
                                <li>
                                    Users and service providers are obligated not to infringe upon the intellectual property rights associated with the app or use it for any unauthorized purpose.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>8</span>User Rights</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                                <h2>Users have the right to:</h2>
                            </div>
                            <ol>
                                <li>
                                    Request access to their stored personal data.
                                </li>
                                <li>
                                    Correct any errors in the data provided.
                                </li>
                                <li>
                                    Request data deletion, provided it does not conflict with laws or contractual obligations.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>9</span>Policy Amendments</h1>
                    <div class="item-content">
                        <p>
                            The company reserves the right to modify the privacy policy at any time. The “Last Updated” date at the top of this document will be updated to notify users of changes. Continued use of the app following any amendments constitutes express agreement to the updated policy. 
                        </p>
                    </div>
                </div>
                
                <div class="item">
                    <h1><span>10</span>Disclaimer</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <ol>
                                <li>
                                    The company is not liable for any data breaches caused by cyberattacks or events beyond its control, despite taking all necessary security precautions.
                                </li>
                                <li>
                                    Use of the app is at the user’s own risk, and the company is not responsible for damages arising from misuse.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h1><span>11</span>Contact Us</h1>
                    <div class="item-content">
                        <div class="item-sub-content">
                            <div class="item-sub-title">
                                <img src="{% static 'images/hand-icon.svg' %}" alt="icon">
                                <h2>For inquiries or requests related to this privacy policy, please contact us via:</h2>
                            </div>
                            <ul>
                                <li>
                                    Email: support@1929way.app
                                </li>
                                <li>
                                    Phone: 0096879291929
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </main>
</body>

</html>