<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/terms-and-condition.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/utilsclasses.css' %}">
    <title>Terms and Condition</title>
</head>

<body>
    <main class="agreement-container">
        <div class="agreement-modal-container">
            <!-- <button class="modal-close-btn" onclick="closeModal()"><i class="fa-solid fa-xmark"></i></button> -->
            <div class="arabic-content" dir="rtl">
                <div class="agreement-title">
                    <h1>الشروط والأحكام لمزودي الخدمة على تطبيق  1929WAY plus</h1>
                </div>

                <h2>مقدمة تعريفية</h2>
                <div class="agreement-item">
                    <p>
                        "1929WAY plus" هو تطبيق مملوك لشركة الباز للتجارة الالكترونية ش.م.م،                  وهي شركة عمانية محدودة المسؤولية. يهدف التطبيق إلى ربط الفنادق، الشاليهات، المزارع، والبيوت التراثية مع المستهلكين، لتوفير تجربة سياحية متميزة. لعرض خدماتكم على المنصة، يُرجى قراءة الشروط والأحكام والموافقة عليها.
                    </p>
                </div>

                <h2>التعريفات</h2>
                <div class="agreement-item">
                    <ul>
                        <li style="font-weight: bold;">المنصة أو التطبيق:</li>
                        <ul>
                            <li>
                                <span>يشير إلى تطبيق "1929WAY plus".</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">مزود الخدمة: </li>
                        <ul>
                            <li><span> يشمل جميع مالكي العقارات السياحية الذين يسجلون عقاراتهم لتقديم خدماتهم عبر التطبيق.</span></li>
                        </ul>
                    </ul>
                </div>

                <h2><span>١</span>التسجيل والاستخدام</h2>
                <div class="agreement-item">
                    <ul style="list-style: circle;">
                        <li style="font-weight: bold;">التسجيل:</li>
                        <ul style="list-style: circle;">
                            <li>يتعين على مزود الخدمة التسجيل في تطبيق "1929WAY plus" وتقديم معلومات دقيقة وصحيحة حول الخدمات. يجب تحديث هذه المعلومات بانتظام.</li>
                        </ul>
                        <li style="font-weight: bold;">الإقرار بالمسؤولية:</li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px">
                                    يقر مزود الخدمة بأنه يتحمل المسؤولية الكاملة عن جميع البيانات المقدمة، ويتحمل أي تبعات نتيجة معلومات غير صحيحة.
                                </span>
                            </li>
                        </ul>
                        </div>

                <h2><span>٢</span>التزامات مزودي الخدمة</h2>

                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">جودة الخدمة:</li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px">يلتزم مزود الخدمة بتقديم خدمات عالية الجودة متوافقة مع معايير تطبيق "1929WAY plus". يجب أن تكون البيانات المتعلقة بالعقار دقيقة وتعكس الواقع.</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">الالتزام بالسياسات:</li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px">يحظر على مزود الخدمة إلغاء الحجوزات لجذب العملاء مباشرة. ويجب التعامل بنزاهة مع العملاء.</span> 
                            </li>
                        </ul>
                        <li style="font-weight: bold;">إخلاء مسؤولية التطبيق:</li>
                        <ul>
                            <li>التطبيق غير مسؤول عن المحتوى الذي ينشره مزودو الخدمة، ويتحمل مزود الخدمة المسؤولية الكاملة عن بياناته وخدماته.</li>
                        </ul>
                    </ul>
                </div>

                <h2><span>٣</span>الدفع والتحويلات</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">العمولات:</li>
                        <ul>
                            <li>إذا كان سعر الليلة أقل من 23 ريال عماني: العمولة 1.5 ريال عماني.</li>
                            <li>إذا كان سعر الليلة بين 23 و50 ريال عماني: العمولة 3 ريالات عمانية.</li>
                            <li>إذا كان سعر الليلة أكثر من 50 ريال عماني: العمولة 5 ريالات عمانية.</li>
                        </ul>
                        <li style="font-weight: bold;">رسوم بوابة الدفع:</li>
                        <ul>
                            <li>الدفع باستخدام بطاقات الكريديت أو من خارج سلطنة عمان: 2.5%.</li>
                            <li>الدفع باستخدام بطاقات الديبت داخل السلطنة: 1.5%.</li>
                        </ul>
                        <li style="font-weight: bold;">فترة معالجة التحويلات: </li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px">تُحوّل المبالغ المستحقة خلال 14-20 يومًا من تاريخ إتمام الحجز.</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">التأخير في المدفوعات: </li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px">يحق للتطبيق إيقاف لوحة التحكم الخاصة بمزود الخدمة في حال تأخر تحويل المستحقات.</span>
                            </li>
                        </ul>
                    </ul>
                </div>

                <h2><span>٤</span> سياسة الإلغاء والاسترجاع:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">تحديد السياسات: </li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px">يتحمل مزود الخدمة مسؤولية تحديد سياسات الإلغاء والاسترجاع بوضوح.</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;"> الإلغاء المتأخر: </li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px">يتحمل مزود الخدمة تكلفة أي إلغاء بعد القبول، بناءً على سياسات التطبيق.</span>
                            </li>
                        </ul>
                    </ul>
                </div>

                <h2><span>٥</span>نظام الحجز وسياساته:</h2>
                <div class="agreement-item">

                    <ul  >
                        <li>عند قيام العميل بالحجز، لا يتم تأكيد الحجز مباشرةً إلا بعد وصول إشعار لمزود الخدمة.</li>
                        <li>يجب على مزود الخدمة تأكيد الطلب للإشارة إلى وجود شاغر لديه وإتاحة الحجز. </li>
                        <li>بعد قبول مزود الخدمة للطلب، يصبح العميل قادرًا على إكمال إجراءات الحجز.</li>
                        <li>مزود الخدمة بعد قبوله للطلب يكون ملتزمًا بتنفيذ هذا
                             الحجز ويتحمل كافة المسؤولية في حال وصول العميل وعدم استفادته من الخدمة أو عدم وجود إتاحة تلبي حجزه.</li>
                        <li>يحق للتطبيق فرض العقوبة المناسبة على مزود الخدمة بما يرضي العميل ويحقق مصلحة التطبيق في الحفاظ على العميل.</li>
                        <li>يتحمل مزود الخدمة دفع العمولة المستحقة للتطبيق عن هذا الحجز.</li>
                    </ul>
                </div>

                <h2><span>٦</span>السرية وحماية البيانات:</h2>
                <div class="agreement-item">

                    <ul  >
                       <li style="font-weight: bold;">التزام السرية: </li>
                       <ul>
                        <li>
                            <span style=" margin-right: 2px;">يجب الحفاظ على سرية بيانات العملاء وعدم استخدامها خارج نطاق تقديم الخدمة.</span>
                        </li>
                       </ul>
                       <li style="font-weight: bold;">حماية البيانات:</li>
                       <ul>
                        <li>
                            <span style="  margin-right: 2px;">يُحظر مشاركة بيانات العملاء مع أطراف ثالثة إلا في الضرورة القصوى.</span>
                        </li>
                       </ul>
                    </ul>
                </div>

                <h2><span>٧</span> إخلاء المسؤولية:</h2>
                <div class="agreement-item">
                <ul  >
                    <li style="font-weight: bold;">دور التطبيق:</li>
                    <ul>
                        <li>
                            <span style=" margin-right: 2px;">يعمل "1929WAY Plus" كوسيط لتسهيل الحجوزات. التطبيق غير مسؤول عن جودة الخدمات أو أي قصور من مزودي الخدمة.</span>
                        </li>
                    </ul>
                    <li style="font-weight: bold;">مطابقة المعلومات للواقع: </li>
                    <ul>
                        <li>
                            <span style="margin-right: 2px;">يتحمل مزود الخدمة مسؤولية تطابق البيانات المعروضة مع الواقع.</span>
                        </li>
                    </ul>
                    <li style="font-weight: bold;">النزاعات: </li>
                    <ul>
                        <li>
                            <span style="margin-right: 2px;">يعمل التطبيق كوسيط لحل النزاعات بين العميل ومزود الخدمة دون تحمل المسؤولية القانونية.</span>
                        </li>
                    </ul>
                </ul>
                </div>

                <h2><span>٨</span>العقوبات:</h2>
                <div class="agreement-item">

                    <ul  >
                        <li>يحتفظ التطبيق بحق اتخاذ إجراءات تأديبية، مثل تعليق الحساب أو الإلغاء النهائي، في حال المخالفات.
                        </li>
                    </ul>
                </div>

                <h2><span>٩</span> إنهاء الشراكة:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li>يجب تقديم إشعار مسبق عند إنهاء الشراكة من قبل أي طرف.</li>
                        <li>يلتزم مزود الخدمة بإتمام الحجوزات المعلقة قبل الإنهاء.
                        </li>
                    </ul>
                </div>
                <h2><span>١٠</span>القانون وحل النزاعات:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">القانون المطبق: </li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px;">تخضع هذه الشروط للقوانين المعمول بها في سلطنة عمان.</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">المحاكم المختصة:</li>
                        <ul>
                            <li>
                                <span style="margin-right: 2px;">يتم حل النزاعات عبر المحاكم العمانية.</span>
                            </li>
                        </ul>

                    </ul>
                </div>
            </div>

            <div class="eng-content">
                <div class="agreement-title">
                    <h1>Terms and Conditions for Service Providers on the 1929WAY plus App</h1>
                </div>

                <h2>Introduction:</h2>
                <div class="agreement-item">
                    <p>
                        "1929WAY plus" is an application owned by Albaz E-commerce LLC, an Omani limited liability company. The app aims to connect hotels, chalets, farms, and heritage houses with consumers, providing an exceptional tourism experience. To showcase your services on the platform, please read and agree to the terms and conditions.
                    </p>
                </div>

                <h2>Definitions:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">Platform or App:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">Refers to the "1929WAY plus" application.</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">Service Provider:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">Includes all owners of tourist properties who register their properties to offer services through the app.</span>
                            </li>
                        </ul>
                    </ul>
                </div>

                <h2><span>1</span> Registration and Usage:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">Registration:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;"> The service provider must register on the "1929WAY plus" app and provide accurate and truthful information about their services. This information should be regularly updated.</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">Acknowledgment of Responsibility:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">The service provider acknowledges full responsibility for all submitted data and bears any consequences arising from incorrect information.</span>
                            </li>
                        </ul>
                    </ul>
                </div>

                <h2><span>2</span>Obligations of Service Providers:</h2>

                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">Service Quality:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">The service provider must deliver high-quality services that align with "1929WAY plus" standards. Property details must be accurate and reflect reality.</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">Policy Adherence:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;"> Service providers are prohibited from canceling bookings to attract clients directly and must act fairly with customers.</span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">App Disclaimer:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">The app is not responsible for the content posted by service providers, who bear full responsibility for their data and services.</span>
                            </li>
                        </ul>
                    </ul>
                </div>

                <h2><span>3</span> Payments and Transfers:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">Commissions:</li>
                        <ul>
                            <li>If the nightly rate is below 23 OMR: the commission is 1.5 OMR.</li>
                            <li>If the nightly rate is between 23 and 50 OMR: the commission is 3 OMR.</li>
                            <li>If the nightly rate exceeds 50 OMR: the commission is 5 OMR</li>
                        </ul>
                        <li style="font-weight: bold;">Payment Gateway Fees:</li>
                        <ul>
                            <li>Credit card payments or payments from outside Oman: 2.5%.</li>
                            <li>Debit card payments within Oman: 1.5%.</li>
                        </ul>
                        <li style="font-weight: bold;">Transfer Processing Period: </li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">
                                    Payments due are transferred within 14-20 days of booking completion.
                                </span>
                            </li>
                        </ul>
                        <li style="font-weight: bold;">Payment Delays: </li>
                        <ul>
                            <li>
                                <span style=" margin-left: 2px;"> The app reserves the right to suspend the service provider's control panel if payments are delayed</span>
                            </li>
                        </ul>
                    </ul>
                </div>

                <h2><span>4</span> Cancellation and Refund Policy:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">Policy Specification:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">The service provider is responsible for clearly defining cancellation and refund policies</span>
                            </li>
                        </ul>
                            <li style="font-weight: bold;">Late Cancellations:</li>
                            <ul>
                                <li>
                                    <span style="margin-left: 2px;">
                                        The service provider bears the cost of any cancellation after acceptance, as per app policies
                                    </span>
                                </li>
                            </ul>
                    </ul>
                </div>

                <h2><span>5</span> Booking System and Policies:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li>Bookings are not confirmed directly but require a notification to the service provider.
                        </li>
                        <li>The service provider must confirm the request to indicate availability and enable booking.</li>
                        <li>After accepting a request, the service provider is committed to fulfilling the booking and bears full 
                            responsibility if the customer arrives and the service is not available.</li>
                        <li>The app reserves the right to impose appropriate penalties on the service provider to satisfy
                             the customer and maintain the app's reputation.</li>
                        <li>The service provider must pay the due commission for each booking.</li>
                    </ul>
                </div>

                <h2><span>6</span> Confidentiality and Data Protection:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">Confidentiality Commitment:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">Service providers must maintain the confidentiality of customer data and use it only for service provision.  </span>
                            </li>
                        </ul>
                    </ul>
                    <ul>
                        <li style="font-weight: bold;">Data Protection:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">Sharing customer data with third parties is prohibited unless absolutely necessary.</span>
                            </li>
                        </ul>
                    </ul>
                </div>

                <h2><span>7</span> Disclaimer:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">App Role:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">
                                    "1929WAY plus" acts as an intermediary to facilitate bookings. It is not responsible for 
                                    service quality or any deficiencies by service providers.
                                </span>
                            </li>
                        </ul>
                    </ul>
                    <ul  >
                        <li style="font-weight: bold;">Accuracy of Information:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">
                                    Service providers are responsible for ensuring the accuracy of displayed information.</span>
                            </li>
                        </ul>
                    </ul>
                    <ul  >
                        <li style="font-weight: bold;">Disputes:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">
                                    The app mediates disputes between customers and service providers but assumes no legal liability</span>
                            </li>
                        </ul>
                    </ul>
                </div>

                <h2><span>8</span>Penalties:</h2>
                <div class="agreement-item">
                    <p>The app reserves the right to take disciplinary actions, such as account
                         suspension or permanent termination, in case of violations.</p>
                </div>

                <h2><span>9</span> Termination of Partnership:
                </h2>
                <div class="agreement-item">
                    <ul  >
                        <li>Advance notice must be provided by either party before ending the partnership.</li>
                        <li>The service provider must complete any pending bookings before termination.</li>
                    </ul>
                </div>
            </div>
            <h2><span>10</span>Legal Framework and Dispute Resolution:</h2>
                <div class="agreement-item">
                    <ul  >
                        <li style="font-weight: bold;">Governing Law: </li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">
                                    These terms are subject to the laws of the Sultanate of Oman.</span>
                            </li>
                        </ul>
                    </ul>
                    <ul  >
                        <li style="font-weight: bold;">Jurisdiction:</li>
                        <ul>
                            <li>
                                <span style="margin-left: 2px;">
                                    Disputes are resolved through Omani courts.</span>
                            </li>
                        </ul>
                    </ul>
                </div>

            <!-- <div class="modal-action-btns">
                <button class="modal-action-btn" id="acceptAgreement">Accept</button>
                <button class="modal-action-btn" id="closeAgreement">Close</button>
                
            </div> -->
        </div>
    </main>
</body>

</html>